*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
}
.content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.word{
    position: absolute;
}
.inp1{
    margin-left: 50px;
    height: 30px;
    width: 500px;
}
.inp2{
    margin-left: 50px;
    height: 100px;
    width: 500px;
}
.fm{
    margin-left: 20px;
}